@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #faf9ed;
    background-image: url(/preparicfes/galeria/CRITERIOS-DE-EVALUACIÓN.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.content_introduccion{
    width: 40%;
    margin: auto;
    text-align: center;
}



.content_introduccion h1{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    margin-top:23%;
}
.conten_barra{
    background-color: #f4eacb;
    
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
.content_cuadrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f4eacb;
    width: 950px;
    height: 330px;
    overflow: auto;
    font-size: 23px;
    border-radius: 2%;
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.content_cuadrado p{
    color: black;
    text-align: justify;
}
.nav-link{

    color: black;
}

.texto {
    padding: 2%;
}
