@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{
 margin:0px;
 padding: 0px;
}
  body{
    background-color: #faf9ede6;
   background-image: url();
   background-repeat: no-repeat;
   background-size: cover;
   
    
  }
    
  .conten_nav_lectura_critica{
    background-color: #81cbf6;
    height: 7rem;
  }
.conten_Lectura_Critica{
   background-image: url(/Galeria/imagensonrisalectura.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid #faf9ede6;
    margin-left: 30px;
}
.col_titulo{
    text-align: right;
    margin: 2rem;
    margin-right: 100px;
    font-family: "DM Serif Display", serif;
}
.conten_texto{
    text-align: center;
    padding: 2%;
}
.conten_texto{
    text-align: center;
    padding: 2%;
}
.conten_fuente{
    text-align: right;
    
}


.contenedor-mayor {
    display: flex;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    justify-content: space-between;
    gap: 300px;
    border-radius: 30px;
    padding: 25px;
}

.preg-1{
    width: 50%;
    background-color:#81cbf6;
    border-radius: 30px;
    
      

    
}


.preg-2 {
    width: 50%;
    background-color:#81cbf6;
    border-radius: 30px;
      
}

.preg-1 h2{
    padding: 10px;
    padding-left: 20px;
    font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

}
.preg-2 h2{
    padding: 10px;
    padding-left: 20px;
    font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

}

.preg-1 p{
    
   
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    
}
.preg-2 p{
    
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}
.conten_letras_columna1a{
    width: 35%;
    margin-left: 290px;
    display: flex;
    gap: 20px;
    font-size: 23px;
    text-align: center;
    text-align: justify;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
   
  
}
.boton_a{
    border-radius: 50%;
    border: 5px solid #81cbf6;
    width: 70px;
    height: 50px;

}
.conten_letras_columna1b{
    width: 35%;
    margin-left: 290px;
    display: flex;
    gap: 20px;
    font-size: 23px;
    text-align: center;
    text-align: justify;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 


}
.boton_b{
    border-radius: 50%;
    border: 5px solid #81cbf6;
    width: 70px;
    height: 50px;

}
.conten_letras_columna1c{
    width: 35%;
    margin-left: 290px;
    display: flex;
    gap: 20px;
    font-size: 23px;
    text-align: center;
    text-align: justify;
    font-family:  "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.boton_c{
    border-radius: 70%;
    border: 5px solid #81cbf6;
    width: 60px;
    height: 55px;
}

.conten_letras_columna1d{
    width: 35%;
    margin-left: 290px;
    display: flex;
    gap: 20px;
    font-size: 23px;
    text-align: center;
    text-align: justify;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.boton_d{
    border-radius: 50%;
    border: 5px solid #81cbf6;
    width: 70px;
    height: 50px;
}
.conten_letras_columna2a{
    width: 35%;
    margin-left: 1330px;
    display: flex;
    gap: 20px;
    font-size: 23px;
    text-align: center;
    text-align: justify;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: -270px;
}
.boton_2a{
    border-radius: 70%;
    border: 5px solid #81cbf6;
    width: 60px;
    height: 55px;
}
  .conten_letras_columna2b{
    width: 35%;
    margin-left: 1330px;
    display: flex;
    gap: 20px;
    font-size: 23px;
    text-align: center;
    text-align: justify;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
  }
  .boton_2b{
    border-radius: 50%;
    border: 5px solid #81cbf6;;
    width: 70px;
    height: 50px;
  }
  .botones{
    display: flex;
    justify-content: center;
    margin-left: 80%;
}
.boton_volver{
    background-color: #81cbf6;;
    padding: 5px;
    border-radius: 10px;
    margin-right: 5px;
    width: 90px;
}
.boton_siguiente{
   background-color: #81cbf6;;
    padding: 5px;
    border-radius: 10px;
    width: 90px;
}