@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#faf9ed;
    
    background-repeat: no-repeat;
    background-size: cover;
}   
.content_criterios{
    width: 700px;
    height: auto;
    margin: auto;
    margin-top: 20px;

}
.content_resultados h1{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    top: 50%;
    margin-top: 100px;
}
.img{
    background-image: url(/Preparicfes/Galeria/rel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 65vh;
    margin-left: 15%;
    
}
.boton_siguiente{
    background-color:  #f4eacb;
    padding:8px;
    border-radius: 10px;
    width: 90px;
    margin-left: 2000px;
    }
