@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #faf9ede6;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}
.conten_nav_sociales{
    background-color: #FFFAB9;
    height: 7rem;
}
.conten_sociales{
    background-image: url(/Galeria/sonriente_sociales.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 150px;
    height: 130px;
    border-radius: 50%;
    border: 8px solid #faf9ede6;
    margin-left: 30px;
}
.col_titulo{
    text-align: right;
    margin: 2rem;
    margin: 55px;
    margin-bottom: -85px;
    font-family: "DM Serif Display", serif;
}
.contenedor{
    display: flex;
    justify-content: center;
}
.conten_columna_1{
    width: 50%;
    background-color: #FFFAB9;
    padding: 25px;
    margin: 40px;
    border-radius: 30px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.conten_columna_2{
    width: 50%;
    background-color: #FFFAB9;
    padding: 25px;
    margin: 40px;
    border-radius: 30px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.conten_letras_columna_1a{
    width: 40%;
    margin-left: 50px;
    display: flex;
    gap: 20px;
    font-size: 23px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
          
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
}
.conten_letras_columna_1b{
    width: 40%;
    margin-left: 50px;
    display: flex;
    gap: 20px;
    font-size: 23px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
          
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
}
.conten_letras_columna_1c{
    width: 40%;
    margin-left: 50px;
    display: flex;
    gap: 20px;
    font-size: 23px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
              
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
}
.conten_letras_columna_1d{
    width: 40%;
    margin-left: 50px;
    display: flex;
    gap: 20px;
    font-size: 23px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
        
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
}
.conten_letras_columna_2a{
    width: 40%;
    margin-left: 1200px;
    display: flex;
    gap: 20px;
    font-size: 23px;
    margin-top: -401px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
              
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
}
.conten_letras_columna_2b{
    width: 40%;
    margin-left: 1200px;
    display: flex;
    gap: 19px;
    font-size: 23px;
    margin-top: 2px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
              
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
}
.conten_letras_columna_2c{
    width: 40%;
    margin-left: 1200px;
    display: flex;
    gap: 19px;
    font-size: 23px;
    margin-top: 2px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
              
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
}
.conten_letras_columna_2d{
    width: 40%;
    margin-left: 1200px;
    display: flex;
    gap: 19px;
    font-size: 23px;
    margin-top: 2px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
}
.botones{
    display: flex;
    justify-content: center;
    margin-left: 80%;
    margin-top: 270px;
}
.boton_siguiente{
    background-color: #fffab9;
    padding: 5px;
    border-radius: 10px;
    width: 90px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}